@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

body {
    background: black url("imagens/fundo-madeira.jpg") center center no-repeat fixed;
    background-size: cover;
}

/* ------------------------------------------------------ */

#iphone {
    background-image: url("imagens/frame-iphone.png");
    background-size: cover;
    width: 300px;
    height: 605px;

    position: absolute; /* position: relative estava gerando dificuldade para deixar o telefone ao lado dos ícones */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#iframe {
    height: 450px;
    width: 255px;

    position: relative;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -49.5%);
}

/* ------------------------------------------------------ */

#icones > a > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px black;

    margin: 10px 15px 0px 0px;
}

#icones > a > img:hover{
    width: 60px;
    height: 60px;
    transition: 0.07s;
}

#icones {
    text-align: right;
}