@charset "UTF-8";

body {
    background-color: burlywood;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1 {
    color: darkslategray;
}

h2 {
    color: cornflowerblue;
}

p {
    color: dimgray;
    text-align: justify;
}