@charset "UTF-8";

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: red;
}

a:visited {
    color: darkred;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color:yellow;
}

a::after {
    content: ' [link]';
    text-decoration: none;
    font-weight: normal;
    color: darkgray;
}