@charset "UTF-8";

@media screen and (max-width: 600px) {
    img#phone { display: block; }
} 

@media screen and (min-width: 600px) and (max-width: 768px) {
    img#phone { display: block; }
} 

@media screen and (min-width: 768px) and (max-width: 992px) {
    img#tablet { display: block; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    img#pc { display: block; }
}

@media screen and (min-width: 1200px) {
    img#tv { display: block; }
}